

form {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.flight-booker {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0 auto;
  max-width: 320px;
}