.progress-outterII{
  height: 10px;
  width: 300px;
  background-color: lightgray;
  margin-top: .5em !important;
}

.progress-innerII {
  background-color: green;
  height: 100%;
  transform: scaleX(0);
  transform-origin: left; 
  transition-property: transform;
  transition-timing-function: linear;
}

.bar-filledII {
  transform: scaleX(1)
}