.poll-container {
  border: 1px solid black;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.poll-container .item {
  border: 1px solid gray;
  position: relative;
  margin: .5em;
}

span.rateText {
  position: absolute;
  right: 0;
  top:50%;
  transform: translateY(-50%); /* 竖直居中 */
}

.progress-poll {
  background: rgba(117, 174, 53, 0.3);
  height: 100%;

  position: absolute;
  top:0;
  left:0;
  transition: width 1s ease-in-out; /* 渐变开始前设置transition */
}