
.progress-outterIIII{
  height: 20px;
  width: 300px;
  background-color: lightgray;
  margin-top: .5em !important;
}

.progress-innerIIII {
  background-color: green;
  color: white;
  height: 100%;
  transform-origin: left;
}

.discription {
  text-align: left;
  color: gray;
}