
.infinite-scroll-viewport {
  height: 600px;
  width: 200px;
  border: 1px solid black;
  overflow: auto;
  margin: auto;
  text-align: center;
}

.infinite-scroll-item {
  height: 20%;
}


.bottom-observer {
  font-weight: bold;
  padding: 1em;
  border: 1px dashed gray;
}