.Carousel-container {
  width: 600px;  /* <--- 简易版的carousel最外层的宽度可以写死的 */
  overflow: hidden;
  position: relative;
  border: 1px solid green;
}

.imgs-container {
  display: flex;
  transition: all 1s; /* <--- transition会被添加到变化之前的CSS类中 */
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}

.imgs-container li {
  list-style: none;
  margin: 0;
  padding: 0
}

.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.btn:hover {
  background: black;
  color: #fff;
  border: none;
}
.left-btn {
  left: 0;
}
.right-btn {
  right: 0;
}
