.meun-app-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 50%;
  margin: 0 auto;
}

#recipe-btn {
  margin-top: 2em;
  padding: .7em;
  border: none;
  transition: all 0.2s linear;
}

.meunApp {
  border: 1px dashed gray;
  border-radius:10px;
  display: flex;
}


#generateBtn {
  padding: .7em;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

#generateBtn:hover,
#recipe-btn:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.meunApp table {
  flex-basis: 50%;
  flex: 1;
  justify-content: space-between;
  text-align: center;
}

.meunApp table tr {
  border: 1px solid gray;
  padding: 1em;
}

.meunApp td:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.meunApp li {
  margin-top: .2em;
}

.meunApp .receipt-box {
  margin: 0 2em;
  width: 90%;
  flex-basis: 40%;
  padding: .8em;
}