.ball{
  width: 50px;
  height: 50px;
  background-color: navy;
  border-radius: 50%;
  
  /*这里calc(var(--myIdx)*0.1s)是对应的animation-delay,起到css stagger效果*/
  animation:slideToRight 1s calc(var(--myIdx)* 0.1s) both infinite;
  /*
    animation-name:      slideToRight ;
    animation-duration:  1s;
    animation-delay:     calc(var(--myIdx)* 0.1s);
    animation-fill-mode: both;
  */
}


@keyframes slideToRight {
  from { 
    transform:none ;
  }
  to {
    /*向右平移*/
    transform: translateX(50vw);
}
}
