.digit-clock {
  border: 3px solid gray;
  border-radius: 10px;
  width: 200px;
  height: 80px;
  line-height: 80px;
  font-size: xx-large;
  color: white;
  text-align: center;
  background-color: black;
}